<!-- experience.html -->
{% extends 'layout.html' %}

{% block body %}
{% set title = "Education 🍜" %}
{% set profile = 0 %}
<title>{{title}}</title>
<div id="content_container">
    <!-- TITLE -->
    <div class="block">
        <h1>{{title}}</h1>
    </div>
    <!-- INSTITUTIONS -->
    {% for key, value in info['education'].items() %}
    <div class="block">
        <h2>{{key}}</h2>
        <ul>
            {% for i in value %}
            <li>{{i}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock %}