<link href='https://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<!-- MAIN CONTAINER -->
<div id="main_container">
    <!-- HEADER -->
    <div id="header">
        <!-- LOGOTYPE/NAME -->
        <div class="header_logotype_container">
            <h1 class="logotype_name">Fer <span class="purple">González</span></h1>
            <h2 class="logotype_occupation">Software Engineer</h2>
        </div>
        <!-- MAIN MENU -->
        {% include 'includes/nav.html' %}
        <!-- LEFT COL -->
        <div id="left_col">
            <div class="profile_frame">
                <img src="https://66.media.tumblr.com/tumblr_lxdcnrXNIl1r04zaro1_400.jpg" alt="profile picture" class="profile_picture">
            </div>
            <div class="hello_content">
                <h2>Hello!</h2>
                <p>{{info['bar']['bio']}}</p>
            </div>
            <div class="get_social_content">
                <h2>Get social</h2>
                <ul class="social_icons horizontal_list">
                    <li><a class="twitter" href={{info['bar']['twitter']}}><span class="entypo-twitter-circled"></span><span class="invisible">Twitter</span></a></li>
                    <li><a class="linkedin" href={{info['bar']['linkedin']}}><span class="entypo-linkedin-circled"></span><span class="invisible">LinkedIn</span></a></li>
                </ul>
            </div>
        </div>
        <!-- PROFILE CONTENT -->
        <div id="container">
            {% block body %}{% endblock %}
        </div>
        <div class="clear"></div>
        <!-- FOOTER -->
        <div id="footer">
            <p class="footer_name">Fernanda González 2019</p>
        </div>
    </div>