<!-- experience.html -->
{% extends 'layout.html' %}

{% block body %}
{% set title = "Profile 🦠" %}
{% set profile = 0 %}
<title>{{title}}</title>
<div id="content_container">
    <!-- TITLE & QUOTE -->
    <div class="block">
        <h1>{{title}}</h1>
        <blockquote class="profile_quote">
            <p>"My past is not a memory. It's a force at my back.
                It pushes and steers. I may not always like where it leads me,
                but like any story, the past needs resolution.
                What's past is prologue."</p>
            <p>Samus Aran (Metroid: Other M, 2010)</p>
            <span class="entypo-quote"></span>
        </blockquote>
    </div>
    <!-- A FEW WORDS ABOUT ME -->
    <div class="block">
        <h2>A few words about me</h2>
        <p>{{info['profile']['about']}}</p>
    </div>
    <div class="horizontal_line">
        <div class="line_left"></div>
        <div class="left_circle"></div>
        <div class="central_circle"></div>
        <div class="right_circle"></div>
        <div class="line_right"></div>
    </div>
    <!-- LET'S GET IN CONTACT -->
    <div class="block">
        <h2>Let's get in contact</h2>
        <p class="purple">📱 Phone:</p>
        <p>{{info['profile']['contact']['phone']}}</p>

        <p class="purple">📬 Email:</p>
        <p><a href="mailto:{{info['profile']['contact']['email']}}">{{info['profile']['contact']['phone']}}</a></p>

        <p class="purple">📍 Address:</p>
        <p>{{info['profile']['contact']['address']}}</p>
    </div>
    <div class="horizontal_line">
        <div class="line_left"></div>
        <div class="left_circle"></div>
        <div class="central_circle"></div>
        <div class="right_circle"></div>
        <div class="line_right"></div>
    </div>
    <!-- OTHER INFO -->
    <div class="block">
        <h2>Other info</h2>
        {% for key, value in info['profile']['other'].items() %}
        <ul>
            <li><b>{{key}}: </b> {{value}}</li>
        </ul>
        {% endfor %}
    </div>
    <div class="horizontal_line">
        <div class="line_left"></div>
        <div class="left_circle"></div>
        <div class="central_circle"></div>
        <div class="right_circle"></div>
        <div class="line_right"></div>
    </div>
    <!-- INTERESTS & HOBBIES -->
    <div class="last block">
        <h2>Interests & Hobbies</h2>
        <p>I'm passionate about technology and human behavior, both determine almost all my interests and hobbies:</p>
        {% for value in info['profile']['interests'] %}
        <ul>
            <li>{{value}}</li>
        </ul>
        {% endfor %}
    </div>

</div>
{% endblock %}